* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: lightblue;
}

article {
    background-image: linear-gradient(to bottom right, red, yellow);
}

header {
    background-image: url(https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
    color: white;
}

a {
    color: lightseagreen;
}